.section-1 img {
        width: 100%;
        display: block;
}
.section_2{
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
}
.img_background_section_1 {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        z-index: 1;
}
.container-fluid {
        position: absolute;
        top: -13vh;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
.headline {
        display: block;
        margin: 0 auto 30px;
        width: 100%;
}
.justify-content-center {
        justify-content: center !important;
}
.first_p {
        font-family: "Noto Sans", sans-serif;
        margin: 0 auto;
        text-align: justify;
        font-weight: bold;
        font-style: italic;
        font-size: 2.3vw;
        line-height: 1.4;
        color: rgb(56, 35, 18);
}
.section_3{
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
}

.title_1{

        margin: 0 auto 30px;
        width: 100%;
        display: flex;
        justify-content: center;
}
.title_1 img {
        width: 40%;
}
.p_2 {
        font-family: "Noto Sans", sans-serif;
        margin: 0 auto;
        text-align: justify;
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.4;
        color: rgb(56, 35, 18);
}
.section_4{
        background-color: #e1d5c9;
}
.section_5{
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position :relative;
}
.pic_2 {
        margin-top: 20vh;
}
.pic_2 img{
        width: 100%;
}
.section_6{
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
}

.container-fluid.flu_p3 {
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 2;
}
.p_3 {
        padding-top: 50px;
        font-family: "Noto Sans", sans-serif;
        margin: 0 auto;
        text-align: justify;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 1.4;
        color: rgb(56, 35, 18);
}
.section-7{
        background-image: url("./Layer/bg-section-7.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height:fit-content;
        width: 100%;
}
.p_7 {
        font-size: 26px;
        font-family: "Noto Sans", sans-serif;
        color: rgb(49, 33, 15);
        line-height: 1.846;
        text-align: justify;
        padding: 0px 270px;
}
.section_8 {
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
}
.p_7 {
        font-size: 35px;
        font-family: "Noto Sans", sans-serif;
        color: rgb(49, 33, 15);
        line-height: 1.846;
        text-align: justify;
        padding: 0px 270px;
}
.section_9 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
}
.flu_8 {
        height: 100%;
        top: 0;
}
.title_2 {
        display: block;
        margin: 0 auto 30px;
        width: 100%;
        display: flex;
        justify-content: center;
}
.title_2 img {
        width: 60%;
}
.border-box {
        padding: 0;
        margin: 0;
}
.text-box {
        margin-top: 100px;
        padding: 50px;
        border: 8px solid #3a1f04;
        box-sizing: border-box;
        max-width: 70%;
        padding: 120px;
        margin: 0 auto;
}
.text-box .p_5 {
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        color: #4a2e0b;
        line-height: 2.0;
        margin: 0;
}
.section_10{
        background-color: #e1d1c3;
}
.p_3 {
        font-family: "Noto Sans", sans-serif;
        margin: 0 auto;
        text-align: justify;
        font-weight: 400;
        font-size: 2.3vw;
        line-height: 1.4;
        color: rgb(56, 35, 18);
}
.section_11{
        background-color: #e1d1c3;

}
.img-section-7-l ,.img-section-7-r{
        width: 900px;
}
.img-section-7-l img ,.img-section-7-r img{
        width: 100%;
}
.content-section-7{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 100px;
}


@media only screen and (max-width: 768px) {
        body {
                margin: 0;
                padding: 0;
                overflow-x: hidden;
                font-size: 16px;
        }
        .section_9 {
                all: unset;
                display: block;
                height: fit-content;
                background-image: url("./Layer/img-section-9.png"); /* kiểm tra đường dẫn */
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center center;
        }



        .text-box .p_5{
                line-height: 1.7;
        }
        .section-1,
        .section_2,
        .section_3,
        .section_4,
        .section_5,
        .section_6,
        .section_7,
        .section_8,
        .section_9,
        .section_10,
        .section_11 {
                width: 100%;
                max-width: 100%;
                margin: 0 auto;
                padding: 0;
                background-color: #e1d5c9;
        }

        h1, h2, h3, h4 {
                font-size: 1.3rem;
                text-align: center;
                margin: 16px 0;
        }

        .headline,
        .title_2 img,
        .section_10 img,
        .section_8 img,
        .section_9 img,
        .pic_2 img,
        .img_background_section_1,

        .img-section-7-r img {
                width: 100% !important;
                height: auto !important;
                display: block;
                margin: 0 auto;
        }
        .title_1 img{
                width: 85% !important;
        }
        .img-section-7-l img{
                width: 90% !important;
        }
        .img-section-7-l{
                padding-left: 20px!important;
        }
        .title_2 img{
                width: 80% !important;
        }
        .img-section-9-1st{
                display: none !important;
        }
        .first_p,
        .p_2,
        .p_3,
        .p_5,
        .p_7 {
                padding: 16px 16px;
                text-align: justify;
                font-size: 1rem !important;
                line-height: 1.6;
                box-sizing: border-box;
        }

        .text-box
        {
                padding: 0 5px;
                font-size: 1rem !important;
                max-width: 100%;
        }
        .p_7 {
                padding: 0 18px;
        }

        .container-fluid,
        .flu_8,
        .flu_p3 {
                padding: 0 !important;
                width: 100% !important;
                height: auto !important;
                position: relative !important;
        }

        .content-section-7,
        .title_1,
        .title_2 {
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
                justify-content: center;
        }

        .img-section-7-l,
        .img-section-7-r {
                width: 100% !important;
                margin: 16px 0;
        }

        .pic_2 {
                margin-top: 32px;
        }

        .border-box {
                padding: 0 16px 25px 16px;
        }

        .first_p strong,
        .p_7 strong {
                font-size: 1.05rem !important;
                font-weight: bold;
        }
        .last_l_p{
                padding-top: 20px;
                padding-bottom: 20px;
        }
        .flu {
                top: -2vh !important;
        }
        .flu3 {
                top: -10vh !important;
        }
        .section_5 img{
                height: 200px;
        }
        .img-section-3 {
                display: none !important;
        }
        .img_background_section_1{
                display: none !important;
        }
        .img-section_5{
                display: none !important;
        }
        .section_5 >.container-fluid{
                top:2px;
        }
        .section_2{
                background-image: url("./Layer/backround-img-1.png");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height:fit-content;
                width: 100%;
        }
        .img-section-6-web{
                display: none !important;
        }
        .img-section-6-mobile{
                display: block !important;
        }
        .flu_9{
                top: 0!important;
        }
        .flu_8{
                top:-10vh;
        }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
        .flu {
                top: -5vh !important;
        }
        .flu3 {
                top: 0vh !important;
        }
        .p_2{
                font-size: 1.4rem;
                font-family: "Noto Sans", sans-serif;
                margin: 0 auto;
                text-align: justify;
                font-weight: 400;
                line-height: 1.4;
                color: rgb(56, 35, 18);
        }
        .img-section-7-l, .img-section-7-r {
                width: 700px !important;
        }
        .flu_9{
                top: 0!important;
        }
        .p_7{
                font-size: 1.3rem !important;
                padding: 0px 20px !important;
        }
        .flu_8{
                top:0 !important;
        }
        .text-box{
                padding: 20px !important;
        }
        .text-box .p_5{
                font-size: 20px !important;
                text-align: justify;
        }
}
@media screen and (max-width: 1280px) {
        .p_7 {
                padding: 0 10px;
        }
}